# Data and large files
data/
data2/
*.csv
*.gz
*.zip

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Notebooks and generated scripts
.ipynb_checkpoints/
*-clear.ipynb
*-v2.ipynb
_*.py
_*.txt
_*.json
_*.pkl

# Project specific ignores
2501.08822v1.docx
2501.08822v1_extracted.txt
fig*.pdf
02_dqr_model-v2.ipynb
03_mdqr_model-clear.ipynb
intensities.py
02_Transition_Matrix_of_Events.png
02_dqr_leraning_curves.png
02_intraday_seasonality.png

# OS specific
.DS_Store
Thumbs.db

# Other
.claude

*.parquet
